<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bartlebee Shipments</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Open+Sans:300,400|Yatra+One" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/ionicons.min.css') }}">
        <link rel="shortcut icon" type="image/png" href="static/icon.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div id="container">
<header>
    <h1>Bartlebee</h1>
    <p>We ship so <em>you</em> don't have to!</p>   
        </header>
        
        <div id="wrapper" >
        <a href="/"><img src="static/logo.png"></a>

        <nav>
            <ul>
            <li><a href="/address">Address Lookup</a></li>
            <li><a href="/weather">Weather Check</a></li>
            <li><a href="/">Scheduling</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/login">Login</a></li>
            </ul>
            </nav>
            <div id="sidebar" class="clearfix">
             <div id="output">
                <h1>About Us:</h1>
               
                <br>
                <article>
                    <section id="desc">
                <p>This is team 3's final project for EWU's CYBR410 Spring 2024 class. A mock-up website that implements cyber defense techniques to ward off would-be attackers. </p>
                </section>
                <br>
                <section id="members">
                <h4> Group members include:</h4>
                <ul>
                    <li>Paul Aguilar - Front End/Services</li>
                    <li>Nicholas Burlakov - Services/DevOps</li>
                    <li>Nehemiah Fiedls - Logging</li>
                    <li>Eric Leachman - Orchestration</li>
                    <li>Thomas Longwell - Defense </li>
                    <li>Robert Rutherford - Defense </li>
                    <li>Spencer West - Services/Database </li>
                    
                </ul>
                </section>
                </article>
                 <br>
                <img id="logo" class="center" src="static/ewuEagle.png">
            </div>
            </div>
        </div>
        
        <footer>
        &copy; 2024 Bartlebee inc.
        </footer>


</body>
</html>
