
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bartlebee Shipments</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Open+Sans:300,400|Yatra+One" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/ionicons.min.css') }}">
        <link rel="shortcut icon" type="image/png" href="static/icon.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div id="container">
    <header>
        <h1>Bartlebee</h1>

        <p>We ship so <em>you</em> don't have to!</p>  

</form>
        </div>
    </header>
        
    <div id="wrapper" >
        <a href="/"><img src="static/logo.png"></a>

        <nav>
            <ul>
            <li><a href="/address">Address Lookup</a></li>
            <li><a href="/weather">Weather Check</a></li>
            <li><a href="/">Scheduling</a></li>
            <li><a href="/">Database</a></li>
            <li><a href="/">Login</a></li>
            </ul>
        </nav>
        <div id="sidebar" class="clearfix">
            <div id="output">
                <h1>Weather Information for {{ url }}:</h1>
                <br>
                <!-- Display weather information based on the URL -->
                <h4>{{ weather }}</h4>
            </div>
        </div>
    </div>
        
    <footer>
    &copy; 2024 Bartlebee inc.
    </footer>


    </body>
</html>