<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bartlebee Shipments</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Open+Sans:300,400|Yatra+One" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/ionicons.min.css') }}">
        <link rel="shortcut icon" type="image/png" href="static/icon.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div id="container">
    <header>
        <h1>Bartlebee</h1>
    <p>We ship so <em>you</em> don't have to!</p>  
            
    </header>
        
    <div id="wrapper" >
        <a href="/"><img src="static/logo.png"></a>

        <nav>
            <ul>
            <li><a href="/address">Address Lookup</a></li>
            <li><a href="/weather">Weather Check</a></li>
            <li><a href="/">Scheduling</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <div id="sidebar" class="clearfix">
      
         <h1>Weather Search</h1><br>
         <p>Enter the URL of your choice to find out the weather based on the host's registered address from the whois registry.</p>
       <form id="weatherForm" action="/weather" method="POST">
        <input type="text" id="url" name="url" placeholder=" Enter URL:" required="" class="form_input">
        <button type="submit" class="button">Search</button>
    </form>

        </div>
    </div>
        
    <footer>
    &copy; 2024 Bartlebee inc.
    </footer>


    </body>
</html>